@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --max-width: 80ch;
  --background: #e2e2e2;
  --transbackground: rgba(255, 255, 255, 0.8);
  --text: #333;
  --subtle-text: hsl(0, 0%, 40%);
  --link-text: rgb(69, 80, 143);
  --primary-glow: radial-gradient(
    circle,
    hsla(300, 100%, 50%, 0.5),
    transparent
  );
  --font-mono: "Anonymous Pro", monospace;
  --highlight: rgb(36, 106, 236);
  --highlight-text: #f6f6f6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a192f;
    --transbackground: rgba(10, 25, 47, 0.8);
    --text: #f6f6f6;
    --subtle-text: hsl(0, 0%, 72%);
    --link-text: #4f7bef;
    --primary-glow: linear-gradient(
      180deg,
      hsla(300, 95%, 59%, 0.5),
      transparent
    );
    --highlight: rgb(36, 106, 236);
    --highlight-text: #f6f6f6;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::selection {
  background-color: var(--highlight);
  color: var(--highlight-text);
  border-radius: 0.3rem;
}

html,
body {
  height: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  background-color: var(--background);
  color: var(--text);
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body,
button,
code {
  font-family: var(--font-mono);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--subtle-text);
}

.header-wrapper {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
  padding: 2rem 0;
}

main {
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  position: relative;
}

a {
  color: var(--link-text);
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.3ex;
}

a:hover {
  color: var(--highlight-text);
}

a[href*="//"]
{
  background-image: var(--primary-glow);
  background-size: 100% 200%;
  background-position: 0 88%;
  background-repeat: no-repeat;
  transition: background-position 0.2s;
  padding: 0 0.4em;
  border-radius: 0.3em;
}

a[href*="//"]:hover
{
  background-position: 0 0;
  color: var(--highlight-text);
}

a[href*="//"]:visited
{
  color: var(--subtle-text);
}

a[href*="//"]::after
{
  font-size: 0.8em;
  content: "↗";
  vertical-align: top;
}

nav {
  position: sticky;
  top: 0;
  text-align: center;
  background: var(--trans-background);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 0 0 1rem 1rem;
}

nav a {
  margin: 20px 0;
  transition: color 200ms;
}

nav a:not(:last-child) {
  padding: 0 12px 0 0;
}

hr {
  width: 80%;
  border-top: 1px solid var(--subtle-text);
  margin: 1rem 0;
}

.social-links {
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social-links a {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

ul.posts-list,
ul.tags-list {
  padding: unset;
  list-style-type: none;
}

.post {
  margin: 0 0 30px 0;
}

.post .title {
  font-size: 1.3em;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tag {
  display: inline-block;
  margin-right: 20px;
  color: var(--subtle-text);
  font-size: 0.8rem;
}

.tag:hover {
  color: var(--link-text);
}

main,
content {
  line-height: 1.6;
  width: 100%;
}

table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 2px 5px;
  background-color: var(--moretransblack);
  font-weight: bold;
}
pre {
  padding: 1rem;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid var(--gray);
  color: var(--black);
  padding: 2px 0px 2px 20px;
  margin: 0px;
  font-style: italic;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

h3 {
  text-align: center;
}

.center {
  text-align: center;
}

article :not(.article-title) {
  line-height: 1.8;
}

.article-title {
  font-size: 2em;
  margin: 0.25em 0;
}

.blog-post {
  font-size: clamp(1rem, 0.96rem + 0.22vw, 1.125rem);
}

.blog-post > * + * {
  margin-block-start: 1em;
}

time {
  font-style: italic;
  color: var(--gray);
}

ul li time {
  white-space: nowrap;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
    margin: 0 10px;
  }
  nav a:not(:last-child) {
    padding: 0;
  }

  .header-wrapper {
    padding: 1rem 0;
  }

  .social-links {
    font-size: 1rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
