---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container mx-auto px-8 xl:px-5">
  <div class="prose prose-xl prose-invert">
    <h2>Welcome to my website!</h2>
    <p>
      Hi 👋, thanks for dropping by. I am a web developer currently living in
      the South West of England. My interests range from technology to
      programming. I also enjoy the great outdoors and gardening.
    </p>
    <p>
      If you would like to hire me, vist{" "}
      <a
        href="https://www.wessexdigitalsolutions.co.uk"
        target="_blank"
        rel="noopener noreferrer"
      >
        Wessex Digital Solutions
      </a>{" "}
      for more details.
    </p>
    <p>
      If you&apos;d like to get in touch, feel free to say hello through any of
      the social links.
    </p>
  </div>
  <div class="social-links">
    <a href="https://bsky.app/profile/duncanbrown.dev"> BlueSky </a>
    <a href="https://www.linkedin.com/in/duncanjbrown/"> LinkedIn </a>
    <a href="https://github.com/iamduncan"> GitHub </a>
  </div>
</div>
