---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";

let {
  content: { title, description, added, updated, tags, heroImage },
} = Astro.props;
---

<!doctype html>
<html lang="en-gb">
  <BaseHead title={title} description={description} />

  <body class="bg-slate-900 text-slate-300 antialiased">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
