@import url("https://use.typekit.net/rqj2vyu.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: fatfrank, sans-serif;

    font-weight: 400;

    font-style: normal;
  }

  * {
    font-family: hoss-round, sans-serif;

    font-weight: 400;

    font-style: normal;
  }

  .content-container {
    @apply mx-4 rounded-xl bg-slate-300 p-4 dark:bg-slate-800 dark:text-slate-100 md:mx-10 md:p-8;
  }

  .custom-scrollbar {
    @apply scrollbar:!h-1.5 scrollbar:!w-1.5 scrollbar:bg-transparent scrollbar-track:!rounded scrollbar-track:!bg-slate-100 scrollbar-thumb:!rounded scrollbar-thumb:!bg-slate-400;
  }
}
